## More on Lists
The list data type has some more methods. Here are all of the methods of list objects:

- list.append(x)
Add an item to the end of the list. Equivalent to a[len(a):] = [x].

- list.extend(iterable)
Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

- list.insert(i, x)
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

- list.remove(x)
Remove the first item from the list whose value is x. It is an error if there is no such item.

- list.pop([i])
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

- list.clear()
Remove all items from the list. Equivalent to del a[:].

- list.index(x[, start[, end]])
Return zero-based index in the list of the first item whose value is x. Raises a ValueError if there is no such item.
The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

- list.count(x)
Return the number of times x appears in the list.

- list.sort(key=None, reverse=False)
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

- list.reverse()
Reverse the elements of the list in place.

- list.copy()
Return a shallow copy of the list. Equivalent to a[:].

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [2]:
fruits.count('apple')

2

In [3]:
fruits.count('tangerine')

0

In [4]:
fruits.index('banana')

3

In [5]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [6]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [7]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [8]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [9]:
fruits.pop()

'pear'

### Using Lists as Stacks
The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index.

In [10]:
stack = [3, 4, 5]

stack.append(6)
stack.append(7)

stack

[3, 4, 5, 6, 7]

In [11]:
stack.pop()

7

In [12]:
stack

[3, 4, 5, 6]

### Using Lists as Queues
It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”); however, lists are not efficient for this purpose. While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is slow (because all of the other elements have to be shifted by one).

To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends.

In [13]:
from collections import deque

queue = deque(["Eric", "John", "Michael"])

queue.append("Terry")               # Terry arrives
queue.append("Graham")          # Graham arrives

queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [14]:
queue.popleft()                 # The first to arrive now leaves
queue.popleft()                 # The second to arrive now leaves

queue

deque(['Michael', 'Terry', 'Graham'])

### List Comprehensions
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

For example, assume we want to create a list of squares.

In [15]:
squares = []

for x in range(10):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
squares = list(map(lambda x: x**2, range(10)))

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
squares = [x**2 for x in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
# A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. 
# The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [19]:
# It’s equivalent to
combs = []

for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x,y))
            
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [20]:
vec = [-4, -2, 0, 2, 4]

# Create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [21]:
# Filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [22]:
 # Apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [23]:
# Call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [24]:
# Create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [25]:
# The tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-25-b4c96da96aec>, line 2)

In [26]:
# Flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# List comprehensions can contain complex expressions and nested functions
from math import pi

[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### Nested List Comprehensions
The initial expression in a list comprehension can be any arbitrary expression, including another list comprehension.

In [28]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [29]:
# The following list comprehension will transpose rows and columns
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [30]:
transposed = []

for i in range(4):
    transposed.append([row[i] for row in matrix])
    
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [31]:
# The zip() function would do a great job for this use case
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The del statement
There is a way to remove an item from a list given its index instead of its value: the del statement. This differs from the pop() method which returns a value. The del statement can also be used to remove slices from a list or clear the entire list (which we did earlier by assignment of an empty list to the slice).

In [32]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [33]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [34]:
del a[:]
a

[]

In [35]:
del a # del can also be used to delete entire variables

##  Tuples and Sequences
We saw that lists and strings have many common properties, such as indexing and slicing operations. They are two examples of sequence data types. Since Python is an evolving language, other sequence data types may be added. There is also another standard sequence data type: the tuple.

A tuple consists of a number of values separated by commas, for instance:

In [36]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [37]:
t

(12345, 54321, 'hello!')

In [38]:
# Tuples may be nested
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [39]:
# Tuples are immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [40]:
# But they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [41]:
empty = ()
singleton = 'hello'

In [42]:
len(empty)

0

In [43]:
len(singleton)

5

In [44]:
singleton

'hello'

In [45]:
# 
x, y, z = t
t

(12345, 54321, 'hello!')

In [46]:
x

12345

In [47]:
y

54321

In [48]:
z

'hello!'

## Sets
Python also includes a data type for **sets**. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [49]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [50]:
print(basket) # show that duplicates have been removed

{'banana', 'orange', 'apple', 'pear'}

In [51]:
'orange' in basket

True

In [52]:
'crabgrass' in basket

False

In [53]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

print("Unique letters in a: {0}".format(a))
print("Unique letters in b: {0}".format(b))

Unique letters in a: {'r', 'd', 'a', 'b', 'c'}
Unique letters in b: {'a', 'l', 'z', 'm', 'c'}

In [54]:
a - b # letters in a but not in b

{'b', 'd', 'r'}

In [55]:
a | b # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [56]:
a & b # letters in both a and b

{'a', 'c'}

In [57]:
a ^ b # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [58]:
# Similarly to list comprehensions, set comprehensions are also supported:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries
Another useful data type built into Python is the dictionary. Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

It is best to think of a dictionary as an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: `{}`. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a key:value pair with `del`. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

Performing `list(d.keys())` on a dictionary returns a list of all the keys used in the dictionary, in arbitrary order (if you want it sorted, just use `sorted(d.keys())` instead). To check whether a single key is in the dictionary, use the in keyword.

In [59]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [60]:
tel['jack']

4098

In [61]:
del tel['sape']
tel['irv'] = 4127
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [62]:
list(tel.keys())

['jack', 'guido', 'irv']

In [63]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [64]:
'guido' in tel

True

In [65]:
'jack' not in tel

False

In [66]:
# The dict() constructor builds dictionaries directly from sequences of key-value pairs
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [67]:
# Dict comprehensions can be used to create dictionaries from arbitrary key and value expressions
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [68]:
# Sometimes easier to specify pairs using keyword arguments
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

## Looping Techniques

In [69]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [70]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [71]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [72]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [73]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [74]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]