## 12.1 联结
&emsp;&emsp;SQL 最强大的功能之一就是能在数据查询的执行中联结（join）表。联结是利用SQL 的SELECT 能执行的最重要的操作。

### 12.1.1 关系表
&emsp;&emsp;避免相同的数据出现多次是关系数据库设计的基础。关系表的设计就是要把信息分解成多个表，一类数据一个表。各表通过某些共同的值互相关联（所以才叫关系数据库）。将数据分解为多个表能更有效地存储，更方便地处理，并且可伸缩性更好。

>**可伸缩（scale）**：能够适应不断增加的工作量而不失败。设计良好的数据库或应用程序称为可伸缩性好（scale well）。

### 12.1.2 为什么使用联结
&emsp;&emsp;联结是一种机制，用来在一条SELECT 语句中关联表，使用特殊的语法，可以联结多个表返回一组输出，联结在运行时关联表中正确的行。

>**说明**：联结不是物理实体。换句话说，它在实际的数据库表中并不存在。DBMS 会根据需要建立联结，它在查询执行期间一直存在。

## 12.2 创建联结
&emsp;&emsp;创建联结非常简单，指定要联结的所有表以及关联它们的方式即可。

In [1]:
import sqlite3 as sql 
import pandas as pd

def select_sql(query):
    conn = sql.connect('tysql.sqlite')
    cur = conn.cursor()
    df = pd.read_sql(query, con=conn)
    cur.close()
    conn.close()
    print(df)

In [2]:
# 用WHERE 子句联结Vendors, Products表
query = '''
SELECT vend_name, prod_name, prod_price
FROM Vendors, Products
WHERE Vendors.vend_id = Products.vend_id;
'''
select_sql(query)

         vend_name            prod_name  prod_price
0       Bears R Us    8 inch teddy bear        5.99
1       Bears R Us   12 inch teddy bear        8.99
2       Bears R Us   18 inch teddy bear       11.99
3  Doll House Inc.    Fish bean bag toy        3.49
4  Doll House Inc.    Bird bean bag toy        3.49
5  Doll House Inc.  Rabbit bean bag toy        3.49
6  Doll House Inc.          Raggedy Ann        4.99
7    Fun and Games            King doll        9.49
8    Fun and Games           Queen doll        9.49

>**警告**：就像前一课提到的，在引用的列可能出现歧义时，必须使用完全限定列名（用一个句点分隔表名和列名）。如果引用一个没有用表名限制的具有歧义的列名，大多数DBMS 会返回错误。

### 12.2.1 WHERE 子句的重要性
&emsp;&emsp;在一条SELECT 语句中联结几个表时，相应的关系是在运行中构造的。因此在联结两张表时，必须将两张表的每一行配对，WHERE 子句作为过滤条件，只包含那些匹配给定条件（这里是联结条件）的行。没有WHERE子句，第一个表中的每一行将与第二个表中的每一行配对，而不管它们逻辑上是否能配在一起。

>**笛卡儿积（cartesian product）**：由没有联结条件的表关系返回的结果为笛卡儿积。检索出的行的数目将是第一个表中的行数乘以第二个表中的行数。

In [3]:
# 没有WHERE 语句的情况
query = '''
SELECT vend_name, prod_name, prod_price
FROM Vendors, Products;
'''
select_sql(query)

          vend_name            prod_name  prod_price
0        Bears R Us    8 inch teddy bear        5.99
1        Bears R Us   12 inch teddy bear        8.99
2        Bears R Us   18 inch teddy bear       11.99
3        Bears R Us    Fish bean bag toy        3.49
4        Bears R Us    Bird bean bag toy        3.49
5        Bears R Us  Rabbit bean bag toy        3.49
6        Bears R Us          Raggedy Ann        4.99
7        Bears R Us            King doll        9.49
8        Bears R Us           Queen doll        9.49
9     Bear Emporium    8 inch teddy bear        5.99
10    Bear Emporium   12 inch teddy bear        8.99
11    Bear Emporium   18 inch teddy bear       11.99
12    Bear Emporium    Fish bean bag toy        3.49
13    Bear Emporium    Bird bean bag toy        3.49
14    Bear Emporium  Rabbit bean bag toy        3.49
15    Bear Emporium          Raggedy Ann        4.99
16    Bear Emporium            King doll        9.49
17    Bear Emporium           Queen doll        9.49
18  Doll House Inc.    8 inch teddy bear        5.99
19  Doll House Inc.   12 inch teddy bear        8.99
20  Doll House Inc.   18 inch teddy bear       11.99
21  Doll House Inc.    Fish bean bag toy        3.49
22  Doll House Inc.    Bird bean bag toy        3.49
23  Doll House Inc.  Rabbit bean bag toy        3.49
24  Doll House Inc.          Raggedy Ann        4.99
25  Doll House Inc.            King doll        9.49
26  Doll House Inc.           Queen doll        9.49
27     Furball Inc.    8 inch teddy bear        5.99
28     Furball Inc.   12 inch teddy bear        8.99
29     Furball Inc.   18 inch teddy bear       11.99
30     Furball Inc.    Fish bean bag toy        3.49
31     Furball Inc.    Bird bean bag toy        3.49
32     Furball Inc.  Rabbit bean bag toy        3.49
33     Furball Inc.          Raggedy Ann        4.99
34     Furball Inc.            King doll        9.49
35     Furball Inc.           Queen doll        9.49
36    Fun and Games    8 inch teddy bear        5.99
37    Fun and Games   12 inch teddy bear        8.99
38    Fun and Games   18 inch teddy bear       11.99
39    Fun and Games    Fish bean bag toy        3.49
40    Fun and Games    Bird bean bag toy        3.49
41    Fun and Games  Rabbit bean bag toy        3.49
42    Fun and Games          Raggedy Ann        4.99
43    Fun and Games            King doll        9.49
44    Fun and Games           Queen doll        9.49
45   Jouets et ours    8 inch teddy bear        5.99
46   Jouets et ours   12 inch teddy bear        8.99
47   Jouets et ours   18 inch teddy bear       11.99
48   Jouets et ours    Fish bean bag toy        3.49
49   Jouets et ours    Bird bean bag toy        3.49
50   Jouets et ours  Rabbit bean bag toy        3.49
51   Jouets et ours          Raggedy Ann        4.99
52   Jouets et ours            King doll        9.49
53   Jouets et ours           Queen doll        9.49

>**提示**：有时，返回笛卡儿积的联结，也称叉联结（cross join）。

### 12.2.2 内联结
&emsp;&emsp;目前为止使用的联结称为等值联结（equijoin），它基于两个表之间的相等测试。这种联结也称为内联结（inner join）。其实，可以对这种联结使用稍微不同的语法，明确指定联结的类型：

In [4]:
# 联结条件用特定的ON 子句而不是WHERE 子句
query = '''
SELECT vend_name, prod_name, prod_price
FROM Vendors INNER JOIN Products
        ON Vendors.vend_id = Products.vend_id;
'''
select_sql(query)

         vend_name            prod_name  prod_price
0       Bears R Us    8 inch teddy bear        5.99
1       Bears R Us   12 inch teddy bear        8.99
2       Bears R Us   18 inch teddy bear       11.99
3  Doll House Inc.    Fish bean bag toy        3.49
4  Doll House Inc.    Bird bean bag toy        3.49
5  Doll House Inc.  Rabbit bean bag toy        3.49
6  Doll House Inc.          Raggedy Ann        4.99
7    Fun and Games            King doll        9.49
8    Fun and Games           Queen doll        9.49

>**说明**：ANSI SQL 规范首选INNER JOIN 语法，之前使用的是简单的等值语法。其实，SQL 语言纯正论者是用鄙视的眼光看待简单语法的。这就是说，DBMS 的确支持简单格式和标准格式，我建议你要理解这两种格式，具体使用就看你用哪个更顺手了。

### 12.2.3 联结多个表
&emsp;&emsp;SQL 不限制一条SELECT 语句中可以联结的表的数目。创建联结的基本规则也相同。首先列出所有表，然后定义表之间的关系：

In [5]:
query = '''
SELECT prod_name, vend_name, prod_price, quantity
FROM OrderItems, Products, Vendors
WHERE Products.vend_id = Vendors.vend_id
        AND OrderItems.prod_id = Products.prod_id
        AND order_num = 20007;
'''
select_sql(query)

             prod_name        vend_name  prod_price  quantity
0   18 inch teddy bear       Bears R Us       11.99        50
1    Fish bean bag toy  Doll House Inc.        3.49       100
2    Bird bean bag toy  Doll House Inc.        3.49       100
3  Rabbit bean bag toy  Doll House Inc.        3.49       100
4          Raggedy Ann  Doll House Inc.        4.99        50

>**注意**：DBMS 在运行时关联指定的每个表，以处理联结。这种处理可能非常耗费资源，因此应该注意，不要联结不必要的表。联结的表越多，性能下降越厉害。虽然SQL 本身不限制每个联结约束中表的数目，但实际上许多DBMS都有限制。请参阅具体的DBMS 文档以了解其限制。

## 12.3 小结
&emsp;&emsp;联结是SQL 中一个最重要、最强大的特性，有效地使用联结需要对关系数据库设计有基本的了解。本章学习了一些关系数据库设计的基本知识，包括等值联结（也称为内联结）这种最常用的联结。