## 13.1 使用表别名
&emsp;&emsp;SQL 除了可以对列名和计算字段使用别名，还允许给表名起别名。

In [1]:
import sqlite3 as sql 
import pandas as pd

def select_sql(query):
    conn = sql.connect('tysql.sqlite')
    cur = conn.cursor()
    df = pd.read_sql(query, con=conn)
    cur.close()
    conn.close()
    print(df)

In [2]:
# 为3个表设置别名
query = '''
SELECT cust_name, cust_contact
FROM Customers AS C, Orders AS O, OrderItems AS OI
WHERE C.cust_id = O.cust_id
        AND OI.order_num = O.order_num
        AND prod_id = 'RGAN01';
'''
select_sql(query)

       cust_name        cust_contact
0        Fun4All  Denise L. Stephens
1  The Toy Store          Kim Howard

>**注意**：Oracle 不支持AS 关键字。要在Oracle 中使用别名，可以不用AS，简单地指定列名即可（因此，应该是Customers C，而不是Customers AS C）。

## 13.2 使用不同类型的联结
&emsp;&emsp;迄今为止，我们使用的只是内联结或等值联结的简单联结。现在来看三种其他联结：自联结（self-join）、自然联结（natural join）和外联结（outer join）。

### 13.2.1 自联结
&emsp;&emsp;需要在一条SELECT 语句中不止一次引用相同的表，可以借助子查询，而另一种方法则是使用联结的相同查询：

In [3]:
# 使用子查询
query = '''
SELECT cust_id, cust_name, cust_contact
FROM Customers
WHERE cust_name = (SELECT cust_name
                                        FROM Customers
                                        WHERE cust_contact = 'Jim Jones');
'''
select_sql(query)

      cust_id cust_name        cust_contact
0  1000000003   Fun4All           Jim Jones
1  1000000004   Fun4All  Denise L. Stephens

In [4]:
# 使用联结的相同查询
query = '''
SELECT c1.cust_id, c1.cust_name, c1.cust_contact
FROM Customers AS c1, Customers AS c2
WHERE c1.cust_name = c2.cust_name
        AND c2.cust_contact = 'Jim Jones';
'''
select_sql(query)

      cust_id cust_name        cust_contact
0  1000000003   Fun4All           Jim Jones
1  1000000004   Fun4All  Denise L. Stephens

>**提示**：自联结通常作为外部语句，用来替代从相同表中检索数据的使用子查询语句。虽然最终的结果是相同的，但许多DBMS 处理联结远比处理子查询快得多。应该试一下两种方法，以确定哪一种的性能更好。

### 13.2.2 自然联结
&emsp;&emsp;无论何时对表进行联结，应该至少有一列不止出现在一个表中（被联结列）。标准的联结（前一课中介绍的内联结）返回所有数据，相同的列甚至多次出现。自然联结排除多次出现，使每一列只返回一次。需要做到这点，自然联结要求我们只能选择那些唯一的列，一般通过对一个表使用通配符（SELECT *），而对其他表的列使用明确的子集来完成：

In [5]:
# 使用联结的相同查询
query = '''
SELECT C.*, O.order_num, O.order_date,
        OI.prod_id, OI.quantity, OI.item_price
FROM Customers AS C, Orders AS O, OrderItems AS OI
WHERE C.cust_id = O.cust_id
        AND OI.order_num = O.order_num
        AND prod_id = 'RGAN01';
'''
select_sql(query)

      cust_id      cust_name         cust_address cust_city cust_state  \
0  1000000004        Fun4All  829 Riverside Drive   Phoenix         AZ
1  1000000005  The Toy Store     4545 53rd Street   Chicago         IL

  cust_zip cust_country        cust_contact             cust_email  order_num  \
0    88888          USA  Denise L. Stephens  dstephens@fun4all.com      20007
1    54545          USA          Kim Howard                   None      20008

   order_date prod_id  quantity  item_price
0  2012-01-30  RGAN01        50        4.49
1  2012-02-03  RGAN01         5        4.99

### 13.2.3 外联结
&emsp;&emsp;许多联结将一个表中的行与另一个表中的行相关联，但有时候需要包含没有关联行的那些行，这种联结包含了那些在相关表中没有关联行的行，被称为外联结：

In [6]:
# 一个简单的内联结，检索所有顾客及其订单
query = '''
SELECT Customers.cust_id, Orders.order_num
FROM Customers INNER JOIN Orders
        ON Customers.cust_id = Orders.cust_id;
'''
select_sql(query)

      cust_id  order_num
0  1000000001      20005
1  1000000003      20006
2  1000000004      20007
3  1000000005      20008
4  1000000001      20009

In [7]:
# 使用外联结，检索包括没有订单顾客在内的所有顾客
query = '''
SELECT Customers.cust_id, Orders.order_num
FROM Customers LEFT OUTER JOIN Orders
        ON Customers.cust_id = Orders.cust_id;
'''
select_sql(query)

      cust_id  order_num
0  1000000001    20005.0
1  1000000001    20009.0
2  1000000002        NaN
3  1000000003    20006.0
4  1000000004    20007.0
5  1000000005    20008.0

>**注意**：SQLite 支持LEFT OUTER JOIN，但不支持RIGHT OUTER JOIN，也不支持FULL
OUTER JOIN。

>**提示**：要记住，总是有两种基本的外联结形式：左外联结和右外联结。它们之间的唯一差别是所关联的表的顺序。换句话说，调整FROM 或WHERE子句中表的顺序，左外联结可以转换为右外联结。因此，这两种外联结可以互换使用，哪个方便就用哪个。

## 13.3 使用带聚集函数的联结

In [8]:
# 使用COUNT()函数，检索所有顾客及每个顾客所下的订单数
query = '''
SELECT Customers.cust_id,
        COUNT(Orders.order_num) AS num_ord
FROM Customers INNER JOIN Orders
        ON Customers.cust_id = Orders.cust_id
GROUP BY Customers.cust_id;
'''
select_sql(query)

      cust_id  num_ord
0  1000000001        2
1  1000000003        1
2  1000000004        1
3  1000000005        1

## 13.4 使用联结和联结条件
&emsp;&emsp;联结及其使用的要点：
- 注意所使用的联结类型。一般我们使用内联结，但使用外联结也有效；
- 关于确切的联结语法，应该查看具体的文档，看相应的DBMS 支持何种语法（大多数DBMS 使用这两课中描述的某种语法）；
- 保证使用正确的联结条件（不管采用哪种语法），否则会返回不正确的数据；
- 应该总是提供联结条件，否则会得出笛卡儿积；
- 在一个联结中可以包含多个表，甚至可以对每个联结采用不同的联结类型。虽然这样做是合法的，一般也很有用，但应该在一起测试它们前分别测试每个联结。这会使故障排除更为简单。

## 13.5 小结
&emsp;&emsp;本章学习了如何以及为什么使用别名，然后讨论不同的联结类型以及每类联结所使用的语法。我们还介绍了如何与联结一起使用聚集函数，以及在使用联结时应该注意的问题。