## 3.1 排序数据
&emsp;&emsp;为了明确地排序用SELECT 语句检索出的数据，可使用**ORDER BY 子句**。ORDER BY 子句取一个或多个列的名字，据此对输出进行排序。

>**子句（clause）**：SQL 语句由子句构成，有些子句是必需的，有些则是可选的。一个子句通常由一个关键字加上所提供的数据组成。子句的例子有我们在前一课看到的SELECT 语句的FROM 子句。

In [1]:
# 导入sqlite3
import sqlite3 as sql 
# 为了更好地展示数据，导入pandas
import pandas as pd

# 创建查询函数
def select_sql(query):
    conn = sql.connect('tysql.sqlite')
    cur = conn.cursor()

    # 使用pandas读取sql结果存入DataFrame
    df = pd.read_sql(query,con=conn)

    cur.close()
    conn.close()

    print(df)

In [2]:
# 从Products 表中检索一个名为prod_name的列，按prod_name排序
query = '''
SELECT prod_name
FROM Products
ORDER BY prod_name;
'''
select_sql(query)

             prod_name
0   12 inch teddy bear
1   18 inch teddy bear
2    8 inch teddy bear
3    Bird bean bag toy
4    Fish bean bag toy
5            King doll
6           Queen doll
7  Rabbit bean bag toy
8          Raggedy Ann

>**注意**：在指定一条ORDER BY 子句时，应该保证它是SELECT 语句中最后一条子句。

## 3.2 按多个列排序
&emsp;&emsp;要按多个列排序，简单指定列名，列名之间用逗号分开即可（就像选择多个列时那样）：

In [3]:
# 从Products 表中检索3个列，按prod_price, prod_name排序
query = '''
SELECT prod_id, prod_price, prod_name
FROM Products
ORDER BY prod_price, prod_name;
'''
select_sql(query)

  prod_id  prod_price            prod_name
0  BNBG02        3.49    Bird bean bag toy
1  BNBG01        3.49    Fish bean bag toy
2  BNBG03        3.49  Rabbit bean bag toy
3  RGAN01        4.99          Raggedy Ann
4    BR01        5.99    8 inch teddy bear
5    BR02        8.99   12 inch teddy bear
6   RYL01        9.49            King doll
7   RYL02        9.49           Queen doll
8    BR03       11.99   18 inch teddy bear

## 3.3 按列位置排序
&emsp;&emsp;除了能用列名指出排序顺序外，ORDER BY 还支持按相对列位置进行排序：

In [4]:
# 从Products 表中检索3个列，按第2, 3列排序
query = '''
SELECT prod_id, prod_price, prod_name
FROM Products
ORDER BY 2, 3;
'''
select_sql(query)

  prod_id  prod_price            prod_name
0  BNBG02        3.49    Bird bean bag toy
1  BNBG01        3.49    Fish bean bag toy
2  BNBG03        3.49  Rabbit bean bag toy
3  RGAN01        4.99          Raggedy Ann
4    BR01        5.99    8 inch teddy bear
5    BR02        8.99   12 inch teddy bear
6   RYL01        9.49            King doll
7   RYL02        9.49           Queen doll
8    BR03       11.99   18 inch teddy bear

## 3.4 按列位置排序
&emsp;&emsp;ORDER BY 子句默认按升序排列，为了进行降序排序，必须指定**DESC 关键字**：

In [5]:
# 从Products 表中检索3个列，按prod_price列降序排列
query = '''
SELECT prod_id, prod_price, prod_name
FROM Products
ORDER BY 2, 3;
'''
select_sql(query)

  prod_id  prod_price            prod_name
0  BNBG02        3.49    Bird bean bag toy
1  BNBG01        3.49    Fish bean bag toy
2  BNBG03        3.49  Rabbit bean bag toy
3  RGAN01        4.99          Raggedy Ann
4    BR01        5.99    8 inch teddy bear
5    BR02        8.99   12 inch teddy bear
6   RYL01        9.49            King doll
7   RYL02        9.49           Queen doll
8    BR03       11.99   18 inch teddy bear

## 3.5 小结
&emsp;&emsp;本章学习了如何使用的ORDER BY 子句对检索出的数据进行排序。