## 11.1 子查询
&emsp;&emsp;SELECT 语句是SQL 的查询。我们迄今为止所看到的所有SELECT 语句都是简单查询，即从单个数据库表中检索数据的单条语句。

>**查询（query）**：任何SQL 语句都是查询。但此术语一般指SELECT 语句。

&emsp;&emsp;SQL 还允许创建子查询（subquery），即嵌套在其他查询中的查询。

## 11.2 利用子查询进行过滤

In [1]:
import sqlite3 as sql 
import pandas as pd

def select_sql(query):
    conn = sql.connect('tysql.sqlite')
    cur = conn.cursor()
    df = pd.read_sql(query, con=conn)
    cur.close()
    conn.close()
    print(df)

In [2]:
# 使用子查询进行过滤
query = '''
SELECT cust_id
FROM Orders
WHERE order_num IN (SELECT order_num
                                        FROM OrderItems
                                        WHERE prod_id = 'RGAN01');
'''
select_sql(query)

      cust_id
0  1000000004
1  1000000005

>**注意**：只能是单列作为子查询的SELECT 语句只能查询单个列。企图检索多个列将返回错误。

## 11.3 作为计算字段使用子查询

In [3]:
# 使用子查询创建计算字段
query = '''
SELECT cust_name,
        cust_state,
        (SELECT COUNT(*)
            FROM Orders
            WHERE Orders.cust_id = Customers.cust_id) AS orders
FROM Customers
ORDER BY cust_name;
'''
select_sql(query)

       cust_name cust_state  orders
0        Fun4All         IN       1
1        Fun4All         AZ       1
2     Kids Place         OH       0
3  The Toy Store         IL       1
4   Village Toys         MI       2

## 11.4 小结
&emsp;&emsp;本章学习了什么是子查询，以及如何使用它们。子查询常用于WHERE 子句的IN 操作符中，以及用来填充计算列。